html,
body {
	padding: 0;
	margin: 0;
	font-family: "Shabnam", "Vazir", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

input,
button,
select {
	font-family: inherit;
}
