.header {
	height: 10vh;
	background: pink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;

	& * {
		transition: color 200ms;

		&:hover {
			color: red;
		}
	}

	& .logo {
		font-size: 1.3rem;
	}

	& .name {
	}
}
