.outerdiv {
  width: 4rem;
  height: 2rem;
  background: skyblue;
  border-radius: 1rem;
  position: relative;
  display: flex;

  & input {
    opacity: 0;
    position: absolute;
    width: 4rem;
    height: 2rem;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  & .toggleKnob {
    width: 1.6rem;
    height: 1.6rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    transition: all 300ms;
  }

  & input:checked + .toggleKnob {
    transform: translateX(2rem);
  }

  & > div {
    width: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
  }

  & div:first-child i {
    color: yellow;
  }

  & div:nth-child(2) i {
    color: whitesmoke;
    font-size: 1.2rem;
  }
}
