.main {
	display: flex;
	margin-top: 3rem;

	@media (max-width: 900px) {
		flex-direction: column;
	}
}

.newest {
	width: 70%;
	order: 1;

	@media (max-width: 900px) {
		order: 2;
		width: 100%;
	}

	& h1 {
		font-size: 1.7rem;
		margin-bottom: 1.7rem;
		padding-right: 2rem;
	}
}

.sidebar {
	width: 30%;
	padding: 1rem 1rem 1rem 0;
	display: flex;
	flex-direction: column;
	order: 2;

	@media (max-width: 900px) {
		order: 1;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
	}

	@media (max-width: 700px) {
		flex-direction: column;
		align-items: center;
	}
}

.imgAndPar {
	font-weight: 300;
}

.darkTheme {
	background: #333;
	color: white;
}

.card {
	padding: 1rem 2rem 2rem;
	border-bottom: 1px solid #ccc;

	& img {
		display: block;
		margin: auto;
		width: 80%;
	}

	& h2 {
		font-size: 1.3rem;
		margin-bottom: 1.3rem;
	}

	& p {
		margin: 1rem 0;
		line-height: 2rem;

		@media (max-width: 450px) {
			font-size: 0.9rem;
		}
	}

	& a {
		transition: color 100ms;

		&:hover {
			color: steelblue;
		}
	}

	@media (max-width: 450px) {
		& h2 {
			font-size: 1.3rem;
		}
	}
}
